<%- include('../_partial/_header'); %>
<body class="text-center">

    <h2 class="m-3">All Events</h2>
    <div class="m-3">
    <% events.forEach(function(event){ %>
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                <center>
                <img src="/images/logo.jfif" alt="logo" 
                style="width:100px; display:block;"> </center>
                <div class="caption">
                    <h3><%= event.title %></h3>
                    <p><%= event.content %></p>
                    <p><a href="/event" class="btn btn-primary" role="button">Register</a>
                    <a>Vacancies Left: <%= event.quota %></a>
                    </p>
                </div>
            </div>
        </div>
    <% }) %>
    </div>

</body>
<%- include('../_partial/_footer'); %>
